<?xml version="1.0"?>
<appSettings>
  <add key="facebookAppId" value="589028217816889"/>
  <add key="facebookAppSecret" value="a812a4d78221c89b9f6d3c5efcf24d63"/>

  <!-- App Id generated at http://data.goteborg.se -->
  <add key="pendelParkGbgId" value="cb249063-a4c9-4177-a849-9dc8439f328f"/>

  <!-- App Secret for Microsoft, App Id 000000004410F33B-->
  <add key="MicrosoftAppId" value="000000004410F33B"/>
  <add key="MicrosoftAppSecret" value="m7LGXJbZJDoykVWIptmqeb88wi7i7vkG"/>

  <add key="TwitterKey" value="uOM5BDkHrWFggn0irc0w"/>
  <add key="TwitterSecret" value="ZwyxAtEANZuN74fkEMT9KbDSjQQELn850tlHr0lQ"/>
</appSettings>
